# Ex1 - Getting and Knowing your Data

### Step 1. Import the necessary libraries

In [91]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [92]:
link = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [93]:
chipo_df = pd.read_csv(link, sep='\t')

### Step 4. See the first 10 entries

In [94]:
chipo_df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [95]:
# Solution 1

chipo_df.shape

(4622, 5)

In [96]:
# Solution 2

chipo_df.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [97]:
chipo_df.shape[1]

5

### Step 7. Print the name of all the columns.

In [98]:
chipo_df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [99]:
chipo_df.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [100]:
#chipo_df.groupby(['item_name']).aggregate({'quantity': ['sum']}) # This works but it is not ordered
item_quantity = chipo_df.groupby(['item_name'])['quantity'].sum()
sorted = item_quantity.sort_values(ascending=False)
sorted.head(1)

# Can also use mode
chipo_df['item_name'].mode()

0    Chicken Bowl
Name: item_name, dtype: object

### Step 10. For the most-ordered item, how many items were ordered?

In [101]:
sorted.head(1)[0]

C:\Users\e1005296\AppData\Local\Temp\ipykernel_9276\1526927183.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sorted.head(1)[0]

761

### Step 11. What was the most ordered item in the choice_description column?

In [102]:
choice_quantity = chipo_df.groupby(['choice_description'])['quantity'].sum()
sorted1 = choice_quantity.sort_values(ascending=False)
sorted1.head(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### Step 12. How many items were orderd in total?

In [103]:
#sorted1.head(1)[0] #Misunderstood the question
# How many items were ordered in total
total_items = chipo_df['quantity'].sum()
total_items

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [104]:
chipo_df['item_price'].astype #Object

<bound method NDFrame.astype of 0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object>

#### Step 13.b. Create a lambda function and convert the item price datatyoe to a float

In [105]:
chipo_df['item_price']= chipo_df['item_price'].apply(lambda x: float(x.replace('$', '').strip()))

#### Step 13.c. Check the item price type

In [106]:
chipo_df['item_price'].astype

<bound method NDFrame.astype of 0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64>

### Step 14. How much was the revenue for the period in the dataset?

In [107]:
chipo_df['revenue'] = (chipo_df['item_price'] * chipo_df['quantity'])
chipo_df['revenue'].sum()

39237.02

### Step 15. How many orders were made in the period?

In [108]:
len(chipo_df['order_id'].value_counts())

1834

### Step 16. What is the average revenue amount per order?

In [109]:
# Solution 1
chipo_df.groupby(['order_id'])['revenue'].mean()

order_id
1        2.890000
2       33.960000
3        6.335000
4       10.500000
5        6.850000
          ...
1830    11.500000
1831     4.300000
1832     6.600000
1833    11.750000
1834     9.583333
Name: revenue, Length: 1834, dtype: float64

In [110]:
# Solution 2
chipo_df.groupby(['order_id']).aggregate({"revenue": "mean"})

            revenue
order_id
1          2.890000
2         33.960000
3          6.335000
4         10.500000
5          6.850000
...             ...
1830      11.500000
1831       4.300000
1832       6.600000
1833      11.750000
1834       9.583333

[1834 rows x 1 columns]

### Step 17. How many different items are sold?

In [111]:
uniq_list = chipo_df['item_name'].unique()
len(uniq_list)

50